@import "Variable";

.form_title{
	font-family: ubuntu;
	font-weight: 700;
	font-size: 32px;
	color:$marineblue;
	margin-bottom: 7px;
}

.info_form{
	display: flex;
	flex-direction: column;

	label{
		font-size: 14px;
		color: $marineblue;
		margin: 25px 0 5px;
	}

	input{
		border: 1px solid $lightgray;
		height: 40px;
    border-radius: 8px;
		color: $coolgray;
		padding: 10px;
	}

	.submit_form{
		background-color: $marineblue;
		color: white;
		margin-top: 70px;
		height: 50px;
		width: 110px;
		margin-left: auto;
	}
}

.form_explanation{
	color: $coolgray;
	margin-bottom: 40px;
}
